
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:site_name" content="[[$title]][[site.title]][[/title]]">
    <meta property="og:url" content="[[$url]][[site.url]][[/url]]">
    <meta property="og:image" content="[[$shareImage]]http://[[#site.env]][[site.env]].[[/site.env]][[site.host]]/img/share.jpg[[/shareImage]]">
    <meta property="og:type" content="website">
    <meta property="og:description" content="[[$description]][[site.description]][[/description]]">
    <meta name="description" content="[[$description]][[site.description]][[/description]]">
    <meta name="keywords" content="[[$keywords]][[site.keywords]][[/keywords]]">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:title" content="[[$title]][[site.title]][[/title]]">
    <base href="/">
    <title>[[$title]][[site.title]][[/title]]</title>

    <!-- ENVIRONMENT: [[site.env]] -->
    <link rel="apple-touch-icon" href="/img/mobile/icon.png">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="image_src" href="/img/logo.jpg">
